@page "/"
@using ServicesCmp.Services
@inject MyService Service

@rendermode RenderMode.InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Page 1</h1>
<p>
    @Service.GetData()
</p>

<NavLink href="page">Page 2</NavLink>

@code {
    protected override void OnInitialized()
    {
        Service.SetComponent("Home");
    }
}